<%-include('../partials/head',{
    title:"proveedores",
    css:""
})%>
<body>
    <header>
        <%-include('../partials/navbar')%>
    </header>
    <% proveedores.forEach(item => { %>
        <div class="card m-2 d-inline-block hover-shadow " style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title "><a href="/proveedores/proveedor/<%=item.id_proveedor%>" class="text-decoration-none text-success"><%=item.nombre%></a></h5>
            </div>
        </div>
    <% }) %>

<%-include("../partials/footer",{
    js:["proveedores"]
})%>