<%-include('../partials/head',{
    title:product[0].nombre,
    css:[]
})%>
<body>
    <header>
        <%-include('../partials/navbar')%>
    </header>
    <div class="container col-md-12 ">
        <%product.forEach(item=>{%>
            <ul class="mt-2 p-2 shadow">
                <li class="list-group-item">Nombre: <h3><%=item.nombre%></h3></li>
                <li class="list-group-item">precio: $ <%= item.precio %></li>
                <li class="list-group-item">cantidad: <%=item.cantidad%></li>
                <li class="list-group-item">proveedor: <%= proveedor[0].nombre %></li>
                <a href="/productos/update/<%=item.id_producto%>" class="btn btn-secondary">actualizar</a>
                <%if(user[0].tipo_usuario == "admin"){%>
                    <button data-id="<%=item.id_producto %>" id="delete" type="submit" class="btn btn-danger">Borrar</button>
                <%}%>
            </ul>
        <%})%>
    </div>
    <%-include("../partials/footer",{
        js:["products"]
    })%>