<%-include('../partials/head',{
    title: user[0].name,
    css:[]
})%>

<body>

<header>
    <%-include('../partials/navbar') %>
</header>


<main>
    <form>
        <div class="mb-3">
            <input type="text" value="<%=user[0].name%>"/>
        </div>
        <div class="mb-3">
            <input type="text" value="<%=user[0].lastname%>"/>
        </div>
        <div class="mb-3">
            <input type="email" value="<%=user[0].email%>"/>
        </div>
        <div class="mb-3">
            <input type="text" value="<%=user[0].telefono%>"/>
        </div>
        <input type="submit">
    </form>
</main>


<%-include('../partials/footer',{
    js:[]
})%>